<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cardano Grades | Error</title>
	<meta http-equiv = "refresh" content = "2; url = /" />
	include includes/head.pug
</head>

<body>
	<div class="center w-25">
		<div class="login-container">
			<h1 class="display-1 m-0"><i class="las la-cubes"></i></h1>
			<h3 class="m-0">[error]</h3>
			<hr>
			if error
				<span>#{ error }</span>
		</div>
	</div>
</body>

</html>