<!DOCTYPE html>
<html>
<head>
	<title>Cardano Grades | Dashboard</title>
	<meta http-equiv = "refresh" content = "15; url = /" />
	include includes/head.pug
</head>
<body>
	include includes/navbar.pug
	<div class="container mt-5">
		<div class="row pt-5 mb-5">
			<div class="section-card w-100">
				<h1><img src="/static/icons/logo.png" widh="30" height="30" /> Connect via proofspace</h1>
				<hr>
				<div id="qrCode">
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/wl.js"></script>
	<script src="/static/js/proofspace.js"></script>
</body>